
/*
*{
	margin: 0;
	padding: 0;
}

sets everthing to zero so there are no erros when manipulating new code*/


body{

	background-color:#f4f4f4;
	color:#555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400px;
	
	/*same as above*/
	
	font: normal arial,helvetica,sans-serif; 

	line-height: 1.6em;
	margin: 0;
}


a{
	text-decoration: none;
	color: rgb(22, 11, 11);
}


a:hover{
	color: red;
}

a:active{
	color: aqua;
}



/* once slected the color turns to a solid state indicating that the the site has alread been visited by the user
a:visited{
	color: #111;
}
*/

.container{
	width:80%;
	margin:auto;
}

.button{
	background-color: #333333;
	color: #fff;
	padding: 10px 15px;
	border: none;
}


.button:hover{
	background: red;
	color: #fff;

}

.clr{
	clear: both;
}

.box-1{

background-color: #000;
color: #fff;
/*
border-right: 5px #000;
border-left: 5px #000;
border-top: 5px #000;
border-bottom: 5px #000;


 same as code above but simplified, remeber
top right bottom left.... 
then top/bottom -- left/right to simplify line 61 ex.. 
use of borders*/


border:5px rgb(4, 6, 146);

border-width: 5px;
border-bottom-width: solid;
border-top-style: solid;

padding-top: 21px ;
padding-bottom: 21px ;
padding-right: 21px ;
padding-left: 21px ;

/* Same as above*/

padding: 20px;

margin-top: 20px;
margin: 20px 0;




}

.box-1 h1{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration-line: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}

.box-2{
	border: 3px dotted #ccc;
	padding: 20px;
	margin: 20px 0;
}
.categories{
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;


}
.categories h2{
	text-align: center;
}

.categories ul{
	padding: 0%;
	list-style: square;
	list-style: none;
}


.categories li{
	padding-bottom: 6px;
	border-bottom: dotted 1px #333333;
	list-style-image: url(''); 
}

.my-form{
	padding: 20px;
	align-content: stretch;
}

.my-form .form-group{
	padding-bottom: 15px;
}

.my-form label{

	display: block;
}
.my-form input[type="text"],.my-form textarea{
	padding: 8px;
	width: 100%;


}


.my-form input[type="submit"]{
	background-color: #333333;
	color: #fff;
	padding: 10px 15px;
	border: none;
}


 .block{
	 float: left;
	 width: 33.3%;
	 border:1px black;
	 padding:10px;
	 box-sizing: border-box;
 }

 .main-block{
	 float: left;
	 width: 70%;
	 padding: 15px;
	 box-sizing: border-box;


 }

 .sidebar{
	 float: right;	
	 width: 30%;
	 background-color: black;
	 padding: 15px;
	 box-sizing: border-box;
	 color: #fff;
 }

 .p-box{
	 width: 800px;
	 height: 500px;
	 border:1px solid #000;
	 margin-top: 600px;
	 position: relative;
	background-image:url('download.jpeg');


	background-position: 100px 200px;
	background-position: center top;
 }

 .p-box h1{
	 position: absolute;
	 top:200px;
	 left: 200px;
	 color: #000;
 }

 .p-box h2{

	position: absolute;
	padding-right: 200px;
	bottom: 100px;
	right: 100px;
	color: black;

 }
/* cool for social media links
 will stay connected 400px from 
 the top of the webpage .fix-me{
	 position: fixed;
	 top:400px
 } */
 .my-list li:first-child{

	background: red;

 }

 .my-list li:last-child{
	 background: blueviolet;
 }

 .my-list li:nth-child(5){
	 background: yellow;
 }
 
 .my-list li:nth-child(even){
	background: grey;
}
 